<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาคุยกันได้นะ</title>
    <style>
        .message{
            background-color: gray;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }
        .name{
            font-size: 20px;
            color: aqua;
            margin-bottom: 5px;
        }
        .text{
            color: white;
            font-size: 16px;
            margin-top: 5px;
        }
        .head{
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <section>
            <h1> เพราะเพื่อนทุกคนต้องการกำลังใจ </h1>
            <p class="text-center">เป็นเพื่อนกันอยู่แล้วเหรอ ? <a href="login/">เข้าสู่ระบบ</a> ได้เลย</p>
            <!-- <script> popup

            </script> -->

            <button><a href="register/">มาพูดคุยกันได้นะ</a></button> 
            <button><a href="/">กลับไปหน้าแรก</a></button>
        </section>
       
    </div>

    <div>
        <section>
            <p class="head">มาดูว่าเราคุยอะไรกับเพื่อนๆ บ้าง</p>
            <div>
                {% for x in myrelax %}
                <div class="message">
                    <p class="name">{{x.name}}</p><br>
                    <p class="text">{{x.message}}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        
    </div>

    

</body>
</html>