<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียน</title>
</head>
<body>
    <div>
        <h1>ลงทะเบียนมาพูดคุยกับเรา</h1>
        
	<form action="regist/" method="POST">
		{% csrf_token %}
        นามแฝงของคุณ : <input type="text" name="user" required>
        รหัสผ่าน : <input type="text" name="pass" required>
        รหัสผ่านอีกรอบนะ : <input type="text" name="repass" required>
        <input type="submit" value="ลุย">
	</form>
    </div>
    <button><a href="/talk">ย้อนกลับ</a></button>
    
</body>
</html>