<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>มาระบายกันหน่อย</title>
</head>
<body>
    <div>
        <section>
            <h1> เพราะเพื่อนทุกคนมีความในใจ </h1>
        </section>
    </div>

    <div>
        <section>
            ลองระบายมาสิ
        </section>
        <section>
            <form action="add/" method="POST">{% csrf_token %}
                
                นามแฝงของคุณ : <input name="user"> <br><br>
                สิ่งที่คุณอยากจะระบาย : <textarea name="message" rows="10" cols="50"></textarea> <br><br>
                <input type="submit" value="Submit">
            </form>
        </section>
        <button><a href="/relax">ไม่เอาดีกว่า</a></button>
        
    </div>

    

</body>
</html>